.product-fridge-first {
  background-image: url("../../../shared/assets/images/fridge-first.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
  .product1 {
    position: absolute;
    top: 242px;
    right: 258px;
  }
  .product2 {
    position: absolute;
    top: 242px;
    right: 92px;
  }
  .product3 {
    position: absolute;
    top: 340px;
    right: 258px;
  }
  .product4 {
    position: absolute;
    top: 340px;
    right: 92px;
  }
  .product5 {
    position: absolute;
    top: 422px;
    right: 258px;
  }
  .product6 {
    position: absolute;
    top: 422px;
    right: 92px;
  }
}
