.product-family-second {
  background-image: url("../../../shared/assets/images/family-second.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
  .product1 {
    position: absolute;
    top: 152px;
    right: 333px;
  }
  .product2 {
    position: absolute;
    top: 152px;
    right: 183px;
  }
  .product3 {
    position: absolute;
    top: 152px;
    right: 23px;
  }
  .product4 {
    position: absolute;
    top: 226px;
    right: 333px;
  }
  .product5 {
    position: absolute;
    top: 226px;
    right: 183px;
  }
  .product6 {
    position: absolute;
    top: 226px;
    right: 23px;
  }
  .product7 {
    position: absolute;
    top: 312px;
    right: 333px;
  }

  .product8 {
    position: absolute;
    top: 312px;
    right: 183px;
  }

  .product9 {
    position: absolute;
    top: 312px;
    right: 23px;
  }

  .product10 {
    position: absolute;
    top: 395px;
    right: 333px;
  }

  .product11 {
    position: absolute;
    top: 395px;
    right: 183px;
  }

  .product12 {
    position: absolute;
    top: 395px;
    right: 23px;
  }

  .product13 {
    position: absolute;
    top: 481px;
    right: 333px;
  }

  .product14 {
    position: absolute;
    top: 481px;
    right: 183px;
  }

  .product15 {
    position: absolute;
    top: 481px;
    right: 23px;
  }

  .product16 {
    position: absolute;
    top: 567px;
    right: 333px;
  }

  .product17 {
    position: absolute;
    top: 567px;
    right: 183px;
  }

  .product18 {
    position: absolute;
    top: 567px;
    right: 23px;
  }
}
