.product-child-0to6 {
  background-image: url("../../../shared/assets/images/child-6to12.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
  .product1 {
    position: absolute;
    top: 187px;
    right: 258px;
  }
  .product2 {
    position: absolute;
    top: 187px;
    right: 92px;
  }
  .product3 {
    position: absolute;
    top: 273px;
    right: 258px;
  }
  .product4 {
    position: absolute;
    top: 273px;
    right: 92px;
  }
  .product5 {
    position: absolute;
    top: 358px;
    right: 258px;
  }
  .product6 {
    position: absolute;
    top: 358px;
    right: 92px;
  }
  .product7 {
    position: absolute;
    top: 438px;
    right: 258px;
  }
  .product8 {
    position: absolute;
    top: 438px;
    right: 92px;
  }
  .product9 {
    position: absolute;
    top: 522px;
    right: 258px;
  }
  .product10 {
    position: absolute;
    top: 522px;
    right: 92px;
  }

  .product11 {
    position: absolute;
    top: 616px;
    right: 92px;
  }
}
